<div>
	<h4>Student List</h4>
	<!--
		Assing: Validate the below form using jQuery. All the fields are mandatory
	-->
	<table style="width:100%">
		<tr>
			<td style="vertical-align:top;">
				<table style="width:80%">
					<tr>
						<td style="width:120px">
							Student Id:
						</td>
						<td>
							<input id="txtStudentId">
						</td>
					</tr>
					<tr>
						<td>
							Name:
						</td>
						<td>
							<input id="txtName">
						</td>
					</tr>
					<tr>
						<td>
							Address:
						</td>
						<td>
							<input id="txtAddress">
						</td>
					</tr>

					<tr>
						<td vlign="top">
							Courses:
						</td>
						<td>
							<input id="txtCourses">
							Separated by (;)
						</td>
					</tr>

					<tr>
						<td>
							
						</td>
						<td>
							<button id="btnSave" ng-click="onSave()">Save</button>
						</td>
					</tr>

					<tr>
						<td>
							
						</td>
						<td>
							&nbsp;
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top;">
				<table style="width:100%" class="table">
					<tr>
						<td>
							Search:
						</td>
						<td>
							<input id="txtSearch">
						</td>
					</tr>
					<tr style="font-weight:bold;">
						<td style="width:100px">
							Student Id
						</td>
						<td>
							Name
						</td>
						<td>
							Address
						</td>
						<td style="width:80px">
							Action
						</td>
					</tr>

					<tr ng-repeat="student in students | orderBy:'name':false">
						<td style="width:100px">
							{{student.studentId}}
						</td>
						<td>
							{{student.name}}
						</td>
						<td>
							{{student.address}}
						</td>
						<td>
							<a href="#/student/{{student.studentId}}">View</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	
</div>